@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 204 22% 95%; /* Grey 250 */
		--foreground: 210 100% 7%; /* Grey 900 Foreground */

		--muted: 204 22% 95%; /* Grey 250 */
		--muted-foreground: 213 14% 31%; /* Grey 700 */

		--primary: 347 100% 65%; /* Pink Intense */
		--primary-foreground: 0 0% 100%; /* White */

		--secondary: 213 16% 89%; /* Grey 300 */
		--secondary-hover: 213 14% 85%; /* Grey 400/70 */
		--secondary-foreground: 210 24% 15%; /* Grey 800 */

		--popover: 0 0% 100%; /* White */
		--foreground: 210 100% 7%; /* Grey 900 Foreground */

		--border: 231 16% 89%; /* Grey 300 */
		--input: 231 16% 89%; /* Grey 300 */
		--ring: 213 14% 31%; /* Grey 700 */

		--card: 0 0% 100%; /* White */
		--card-foreground: 210 100% 7%; /* Grey 900 Foreground */

		--accent: 204 22% 95%; /* Grey 250 */
		--accent-foreground: 210 100% 7%; /* Grey 900 Foreground */

		--destructive: 0 100% 98%; /* Red Background */
		--destructive-border: 359 97% 77%; /* Red Border */
		--destructive-foreground: 360 97% 63%; /* Red Main */

		--success: 105 57% 97%; /* Green Background */
		--success-border: 106 64% 68%; /* Green Border */
		--success-foreground: 106 67% 49%; /* Green Main */

		--pink-intense: 347 100% 65%; /* Pink Intense */
		--pink: 343 90% 70%; /* Pink */
		--pink-disabled: 348 87% 82%; /* Pink Disabled */
		--pink-light: 343 100% 93%; /* Pink Light */
		--pink-very-light: 343 100% 96%; /* Pink Very Light */
		--pink-secondary: 307 84% 81%; /* Pink Secondary */

		--lime: 66 90% 64%; /* Lime */

		--grey-100: 210 20% 98%; /* Grey 100 */
		--grey-200: 210 22% 96%; /* Grey 200 */
		--grey-250: 204 22% 95%; /* Grey 250 */
		--grey-300: 213 16% 89%; /* Grey 300 */
		--grey-400: 208 17% 80%; /* Grey 400 */
		--grey-400-70: 213 14% 85%; /* Grey 400/70 */
		--grey-500: 210 13% 62%; /* Grey 500 */
		--grey-600: 208 13% 45%; /* Grey 600 */
		--grey-700: 213 14% 31%; /* Grey 700 */
		--grey-800: 210 24% 15%; /* Grey 800 */
		--grey-900: 210 100% 7%; /* Grey 900 */

		--font-sans: 'Lexend', sans-serif;
		--font-mono: 'Roboto Mono', monospace;

		--radius: 0.5rem; /* 8px */
	}
}

@layer base {
	* {
		@apply border-border;
		flex-shrink: 0;
	}
	body {
		@apply text-foreground;
		font-feature-settings: 'rlig' 1, 'calt' 1;
	}
}
